.common-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 500px;
    height: auto;
    margin: 60px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 2px 2px 8px 1px #eaeaea ,
    -2px -2px 8px 1px #dcdcdc;
}

.common-field {
    width: 100%;
    height: 40px;
    padding: 0 14px 0 40px;
    font-size: 18px;
    outline: none;
    border: 2px solid var(--input-border-primary);
    border-radius: 10px;
    color: var(--medium-text-primary);
}

.form-button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-radius: 14px;
    cursor: pointer;
    transition: opacity .2s;
    user-select: none;
    color: var(--light-text-primary);
    background-color: var(--green-secondary);
}

.form-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 576px) {
    .common-field {
        font-size: 16px;
    }
}