@font-face {
    font-family: vazir;
    src: url('./assets/fonts/Vazir.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --input-border-primary: #d0d0d0;
    --medium-text-primary: #acacac;
    --light-text-primary: #f2f2f2;
    --green-secondary: #0caf7e;
    --error-primary: #ef1313;
}

body {
    font-family: 'vazir';
}